services:
  registry:
    image: registry:2
    container_name: registry
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - ./registry/data:/var/lib/registry
      - ./registry/auth:/auth
      - ./registry/config.yml:/etc/docker/registry/config.yml
